<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Play Checkers Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand"> Play Checkers! </a>
      <a class="btn btn-success"  style="position:absolute; right:120px" href="{%url 'anonymous'%}"> Play as Guest </a>
      <a class="btn btn-danger" href="/login/"> Login </a>

    </nav>


    {% block content %}

    {% endblock %}
  </body>
</html>
