<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
    <title>Checkers</title>
    </head>
<body>


    <main>
        
        <div class="dark-turn-text mobile">
            Dark's turn
        </div>
        <table>
            <tr>
                <td class="noPieceHere"></td>
                <td><div id="position-1" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-2" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-3" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-4" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
            </tr>
            <tr>
                <td><div id="position-5" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-6" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-7" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-8" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
            </tr>
            <tr>
                <td class="noPieceHere"></td>
                <td><div id="position-9" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-10" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-11" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-12" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
            </tr>
            <tr>
                <td><div id="position-13" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-14" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-15" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-16" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
            </tr>
            <tr>
                <td class="noPieceHere"></td>
                <td><div id="position-17" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-18" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-19" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-20" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
            </tr>
            <tr>
                <td><div id="position-21" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-22" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-23" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-24" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
            </tr>
            <tr>
                <td class="noPieceHere"></td>
                <td><div id="position-25" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-26" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-27" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-28" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
            </tr>
            <tr>
                <td><div id="position-29" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-30" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere">
                <td><div id="position-31" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
                <td><div id="position-32" v-on:click='select_piece' v-bind:class="[piece_color, piece_type, selection, possible_square]"></div></td>
                <td class="noPieceHere"></td>
            </tr>
        </table>
        <div class="desktop">
			<div class="dark-turn-text">
                Dark's turn
            </div>
            <p id="divider">|</p>
            <div class="light-turn-text">
                Light's turn
            </div>
            
        </div>
		<div class="light-turn-text mobile">
            Light's turn
        </div>
    </main>

	 <script src="{% static 'script.js' %}"></script>
</body>
</html>
