{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class ="center">
	<button id="create-game" type="button" class="btn btn-primary btn-lg">CREATE GAME</button><br><br>
	<div id = join-game-box>
	<form action="/game/joinGame/" method="post" >
		{% csrf_token %}
	<h3>Open to Join Games:</h3>
	  <div id="active-games-list-radio"></div>
	  <button id="join-game" type="submit" value="submit" disabled class="btn btn-success btn-lg">JOIN GAME</button><br>
	</form>
</div>
</div>
	{{ all_active_game_data|json_script:"all-active-games-data" }}
    <script>
		let active_game_data_dict = JSON.parse(document.getElementById('all-active-games-data').textContent);
        console.log(active_game_data_dict);

		var dom_my_games = document.getElementById('active-games-list-radio');
		for (var i in active_game_data_dict) {
			document.getElementById('join-game').disabled = false;
			dom_my_games.innerHTML += ('<label><input type="radio" name="game-id" value="' + i + '" checked/> ' +
										'created by user:  '+active_game_data_dict[i] +
										'</label><br>');
			dom_my_games.innerHTML1	+= 	'created by user:  '+active_game_data_dict[i]+'<br>';					
		}

		document.querySelector('#create-game').onclick = function(e) {
            window.location.pathname = '/game/createGame/';
        };
    </script>

{% endblock %}
