{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Checkers Board</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link">home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={%url 'rules'%}>rules</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href={%url 'player_stats'%}>player stats</a>
      </li>

      <li class="nav-item" style="right:130px; position:absolute">
        <span class="nav-link">Welcome, {{request.user}}</span>
      </li>

      <li class="nav-item" style="right:20px; position:absolute">
        <a class="nav-link" href={%url 'logout'%}>logout</a>
      </li>


    </ul>
  </div>
</nav>


<div class="container-fluid"  style="height:600px; position:relative;">
    <h1 style="margin-bottom:40px"> welcome to your space player! </h1>
</div>
    <a href={%url 'game'%}>
    <button type="button" class="btn btn-success" style="width:200px; height:80px; position:absolute;top:200px; right:550px"> Start Playing</button>
    </a>



{% endblock %}
