{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container-fluid"  style="height:600px; position:relative; background-image: url({% static "images/checkersbg.jpg"%})">
  <div class="container" style="width:470px; height: 370px; background-color: green; padding:20px; margin-top:50px" >
    <h1 style="margin-bottom:40px">LOGIN PAGE </h1>
    <form method="post" action="#">
      {% csrf_token %}
      <input class="form-control" style="margin-bottom:30px" type="text" name="nickname" placeholder="Enter your nickname"><br>
      <input class="form-control" style="margin-bottom:30px" type="password" name="password" placeholder="Enter your password">

      <button class="btn btn-warning" style="margin-top:5px;" type="submit">LOGIN</button>

    </form>

  </div>
</div>

{% endblock %}
