<!--
I adapted some code found at
@ inspired by: https://www.udemy.com/course/practical-django-launch-your-startup-today/learn/lecture/19861442#overview
@ inspired by: https://docs.djangoproject.com/en/3.1/
-->
{% extends 'base0.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid"  style="height:600px; position:relative; background-image: url({% static "images/checkersbg.jpg"%})">
  <div class="container" style="width:500px; height: 400px; right:40px; top:50px; position: absolute; background-color: green; padding:30px" >
    <h1 style="margin-bottom:20px">LOGIN PAGE </h1>

{% if messages %}
<div class="messages" style="color:yellow; margin-bottom:10px">
    {% for msg in messages %}
    {{ msg }}
    {% endfor %}
</div>
{% endif %}
    <form class = "post-form" method="post" action="#">
      {% csrf_token %}

        {{ form|crispy }}

      <button class="btn btn-warning" style="margin-top:5px;" type="submit">LOGIN</button>

    </form>
    <div class="mt-4">
      <p>Don't have an account? <a href="{%url 'signup'%}" style="color:yellow">Sign Up</a></p>
    </div>

    </div>

  </div>

{% endblock %}
