{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Checkers Board</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href={%url 'home'%}>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={%url 'rules'%}>rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >player stats  <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" style="right:130px; position:absolute">
        <span class="nav-link">Welcome, {{request.user}}</span>
      </li>

      <li class="nav-item" style="right:20px; position:absolute">
        <a class="nav-link" href={%url 'logout'%}>logout</a>
      </li>


    </ul>
  </div>
</nav>


{% for winner in winners %}


<div class="container">
<div class="card">
  <div class="card-header">
    <b>Game number:<span style="color:green"><i>{{winner.game.game_id}}</i></span></b> <br>Created by: <b><i>{{winner.game.player1_username}}</i></b>
  </div>
  <div class="card-body">
    <h5 class="card-title">Played against <b><i>{{winner.game.player2_username}}</i></b></h5>
    <p class="card-text"><b><span style="color:red"><i>Winner:  {{winner.winner_user}}</i></span></b></p>
    <a href="/game/{{winner.game.game_id}}" class="btn btn-success">Go to Game</a>
  </div>
</div>
</div>

  {%endfor%}


{% endblock %}
